<!DOCTYPE html>
<html>
  <head>
    <title>BookingChicharro</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header class="flex flex-col justify-between items-center pt-10">
      <%= link_to image_tag("chicha-logo.jpg", class: "w-200"), "https://chicharrotattoo-2eyu3tsqwm.live-website.com/" %> 
    </header>
      <main class="container flex pt-10 pb-40 py-10">
      <%= yield %>
    </main>
    <%= image_tag "footer.png", class: "footer-large" %>
    <%= image_tag "footer-small-screen.png", class: "footer-small" %>

    <style>
      .footer-small {
        display: none; /* Hide small footer by default */
      }

      @media (max-width: 768px) { /* Adjust the breakpoint as needed */
        .footer-large {
          display: none; /* Hide large footer on small screens */
        }
        .footer-small {
          display: block; /* Show small footer on small screens */
        }
      }
    </style>
  </body>
</html>
