<!DOCTYPE html>
<html>
  <head>
    <title>BookingChicharro</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header class="flex flex-col justify-between items-center pt-10 py-2">
      <%= link_to image_tag("chicha-logo.jpg", class: "w-200"), "https://chicharrotattoo-2eyu3tsqwm.live-website.com/" %> 
    </header>
      <main class="container mx-auto pt-10 pb-40 flex">
      <%= yield %>
    </main>
    <%= image_tag "footer.png"%>
  </body>
</html>
