<!DOCTYPE html>
<html>
  <head>
    <title>BookingChicharro</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header class="flex justify-between items-center pt-10 py-2">
      <div class="flex space-x-2">
        <button class="bg-black text-gray-200 px-3 py-2 rounded-md text-sm" onclick="window.location.href='https://booking-chicha-92b0b6aeb946.herokuapp.com'">Book Your Tattoo</button>
        <button class="bg-black text-gray-200 px-3 py-2 rounded-md text-sm" onclick="window.location.href='https://10sotng76zp.typeform.com/to/Y1zzSArr'">FREE CONSULTATION</button>
      </div>
      <%= image_tag "chicha-logo.jpg", class: "w-20"%>
      <div class="flex space-x-4 text-sm">
        <a href="https://chicha-db-4a4855124415.herokuapp.com/consents/new" class="hover:underline">Consent Form</a>
        <a href="https://chicharrotattoogallery.com/" class="hover:underline">CLOTHING</a>
      </div>
    </header>
      <hr class="border-t-4 border-black my-4">
      <main class="container mx-auto pt-20 pb-40 flex">
      <%= yield %>
    </main>
    <%= image_tag "footer.png"%>
  </body>
</html>
